<div class="main">

    <div class="card">

        <div class="heading">
            <h3>Strectural Directives</h3>
        </div>

        <div class="full-line"></div>

        <div class="data">
            <b>*ngIf</b>
            <p *ngIf="isLoggedIn">Welcome User!</p>
            <p *ngIf="!isLoggedIn">Please Login</p>
        </div>
        <div class="full-line"></div>

        <div class="data">
            <b>*ngFor</b>

            <ul>
                <li *ngFor="let fruit of items">{{ fruit }}</li>
            </ul>
        </div>
        <div class="full-line"></div>

        <div class="data">
            <b>*ngSwitch</b>

            <div [ngSwitch]="role">
                <p *ngSwitchCase="'admin'">Admin Access</p>
                <p *ngSwitchCase="'user'">User Access</p>
                <p *ngSwitchDefault>No Role Assigned</p>
            </div>
        </div>

    </div>

</div>