<div class="main">
    <!-- <div class="one-way-binding col-3">
        <app-one-way></app-one-way>
    </div>
    <div class="event-binding col-3">
        <app-event-binding></app-event-binding>
    </div>
    <div class="property-binding col-3">
        <app-property-binding></app-property-binding>
    </div>
    <div class="two-way-binding col-3">
        <app-two-way></app-two-way>
    </div>
    <div class="class-binding col-3">
        <app-class-binding></app-class-binding>
    </div>
    <div class="style-binding col-3">
        <app-style-binding></app-style-binding>
    </div>
    <div class="strectural-directives col-3">
        <app-strectural-directive></app-strectural-directive>
    </div>
    <div class="attribute-directives col-3">
        <app-attribute-directives></app-attribute-directives>
    </div>
    <div class="custome-directives col-3">
        <app-custome-directives></app-custome-directives>
    </div>
    <div class="template-reference col-3">
        <app-template-reference></app-template-reference>
    </div>
    <div class="component-communication col-3">
        <app-parent></app-parent>
    </div>
    <div class="viewChild col-3">
        <app-v-parent></app-v-parent>
    </div>
    <div class="pipes col-3">
        <app-allpipes></app-allpipes>
    </div>
    <div class="contentChild col-3">
        <app-c-parent></app-c-parent>
    </div>
    <div class="serviceDemo col-3">
        <app-demo-service></app-demo-service>
    </div>
    <div class="ngOnChanges col-3">
        <app-ng-on-chnges [data]="name"></app-ng-on-chnges>
    </div>
    <div class="ngOnInit col-3">
        <app-ng-on-init></app-ng-on-init>
    </div>
    <div class="ngDoCheck col-3">
        <app-ng-do-check></app-ng-do-check>
    </div>
    <div class="app-ngaftercontent-init-checked col-3">
        <div class="button btn btn-primary" (click)="change()">Click</div>
        <app-ngaftercontent-init-checked>
            <p>{{value}}</p>
            <p #mydata>Hari</p>
        </app-ngaftercontent-init-checked>
    </div>
    <div class="app-ngafterview-init-checked col-3">
        <app-ngafterview-init-checked></app-ngafterview-init-checked>
    </div>
    <div class="app-ng-on-distroy col-3">
        <app-ng-on-distroy></app-ng-on-distroy>
    </div> -->
    <div class="routing col-3">
        <div class="routing-main">

            <div class="card">

                <div class="heading">
                    <h3>Routing</h3>
                </div>

                <div class="full-line"></div>

                <div class="data">
                    <div class="buttons" style="display: flex; justify-content: space-evenly;">
                        <!-- <button class="btn btn-primary" [routerLink]="['/home']">GoHome</button>
                        <button class="btn btn-primary" [routerLink]="['/course']">GoCourse</button> -->
                        <button class="btn btn-primary" routerLink="/home">Go Home</button>
                        <button class="btn btn-primary" routerLink="/course">Go Course</button>
                        <button class="btn btn-primary" routerLink="/adm/admin">Admin Home</button>
                        <button class="btn btn-primary" routerLink="/adm/users">Admin Users</button>
                        <button class="btn btn-primary" routerLink="/products">QueryParams</button>
                    </div>
                    <router-outlet></router-outlet>
                </div>

            </div>

        </div>
    </div>
</div>