<div class="main">

    <div class="card">

        <div class="heading">
            <h3>Template-Driven-Forms</h3>
        </div>

        <div class="full-line"></div>

        <div class="form-data">

            <form #myForm="ngForm" class="form" (ngSubmit)="submitForm(myForm, addr, un)">

                <div class="row mb-3 align-items-center">
                    <div class="col-4 left-items">
                        <label>Name <span class="required">&#42;</span></label>
                    </div>

                    <div class="col-8 right-items">
                        <input 
                        type="text" 
                        class="form-control w-75" 
                        name="userName" 
                        #un="ngModel" 
                        [(ngModel)]="userName" 
                        pattern="^[A-Za-z ]+$" 
                        required>
                        <p class="error" *ngIf="un.touched && (un.errors?.['required'] || (un.value && !un.value.trim())) || (myForm.submitted && myForm.controls['userName']?.invalid) || (myForm.submitted && myForm.controls['userName']?.invalid) || (un.dirty && un.invalid)">Enter a valid name</p>
                        <p class="error" *ngIf="un.dirty && userName && userName === userName.toLowerCase()">Uppercase Missing</p>
                        <p class="error" *ngIf="un.dirty && userName && userName === userName.toUpperCase()">Lowercase Missing</p>                    
                    </div>

                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-4 left-items">
                        <label>Password <span class="required">&#42;</span></label>
                    </div>

                    <div class="col-8 right-items">
                        <input 
                        type="text" 
                        class="form-control  w-75" 
                        name="password" 
                        #pwd="ngModel" 
                        [(ngModel)]="password" 
                        required 
                        minlength="6" 
                        maxlength="12"
                        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                        <p class="error" *ngIf="pwd.touched && (pwd.errors?.['required'] || pwd.errors?.['minlength'] || (pwd.value && !pwd.value.trim())) || (myForm.submitted && myForm.controls['password']?.invalid) || (pwd.dirty && pwd.invalid)">Give a valied password</p>
                        <p class="error" *ngIf="(pwd.dirty || pwd.touched) && pwd.errors?.['minlength']">min length is morethan 6 need</p>

                    </div>

                </div>

                <!--ngFormGroup -->
                <div ngModelGroup="address" #addr="ngModelGroup">

                    <div class="row mb-3 align-items-center">
                        <div class="col-4 left-items">
                            <label>Country <span class="required">&#42;</span></label>
                        </div>
                        <div class="col-8 right-items">
                            <input 
                            type="text" 
                            class="form-control w-75" 
                            name="country" #cn="ngModel" 
                            [(ngModel)]="country" 
                            required>
                            <p class="error" *ngIf="cn.touched &&  (cn.errors?.['required'] || (cn.value && !cn.value.trim())) || (myForm.submitted && addr.control.controls['country']?.invalid)">Country is required</p>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-4 left-items">
                            <label>State <span class="required">&#42;</span></label>
                        </div>
                        <div class="col-8 right-items">
                            <input 
                            type="text" 
                            class="form-control w-75" 
                            name="state" 
                            #st="ngModel" 
                            [(ngModel)]="state" 
                            required>
                            <p class="error" *ngIf="st.touched &&  (st.errors?.['required'] || (st.value && !st.value.trim())) || (myForm.submitted && addr.control.controls['state']?.invalid)">State is required</p>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <div class="col-4 left-items">
                            <label>City <span class="required">&#42;</span></label>
                        </div>
                        <div class="col-8 right-items">
                            <input 
                            type="text" 
                            class="form-control w-75" 
                            name="city" 
                            #ct="ngModel" 
                            [(ngModel)]="city" 
                            required>
                            <p class="error" *ngIf="ct.touched &&  (ct.errors?.['required'] || (ct.value && !ct.value.trim())) || (myForm.submitted && addr.control.controls['city']?.invalid)">City is required</p>
                        </div>
                    </div>

                </div>

                <div class="submit">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>

        </div>

    </div>

</div>