<div class="main">

    <div class="card">

        <div class="heading">
            <h3>Pipes</h3>
        </div>

        <div class="full-line"></div>

        <div class="data">
            <h5>Built-in Pipes</h5>
            <p>{{name | uppercase}}</p>
            <p>{{name | lowercase}}</p>
            <p>{{amount | currency: 'INR'}}</p>
            <p>{{date | date: 'yyyy-m-d'}}</p>
            <hr>
            <h5>Custom Pipes</h5>
            <ng-container *ngFor="let data of personList">
                <p>{{ data.name | dataTransform : data.gender }}</p>
                <p>{{ data.age }}</p>
                <p>{{ data.gender }}</p>
            </ng-container>
            <hr>
            <h5>Asysnc Pipes</h5>
            <ng-container *ngFor="let data of asyncData | async">
                <p>{{data.name}}</p>
                <p>{{data.age}}</p>
            </ng-container>
        </div>

    </div>

</div>