<div class="main">

    <div class="card">

        <div class="heading">
            <h3>Subject & BehaviorSubject</h3>
        </div>

        <div class="full-line"></div>
        <button class="btn btn-primary" (click)="getData()">Click</button>
        <div class="data" style="display: flex; flex-direction: row;">
            <app-subscriber-one></app-subscriber-one>
            <app-subscriber-two></app-subscriber-two>
            <app-subscriber-three></app-subscriber-three>
        </div>
        <app-simple-subject></app-simple-subject>

    </div>

</div>