<div class="main">

    <div class="card">

        <div class="heading">
            <h3>Service</h3>
        </div>

        <div class="full-line"></div>

        <div class="data">
            <button type="button" class="btn btn-primary" (click)="getUserData()">GetData</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Place</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let td of data; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{td.name}}</td>
                        <td>{{td.age}}</td>
                        <td>{{td.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>