.main, .hooks, .routing-main {
    .card {
        margin: 15px;
        border-radius: 10px;
        background: #f7f7f7;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 0;
        height: 50vh;

        .heading {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #0d6efd;

            h3 {
                position: relative;
                top: 5px;
            }
        }

        .full-line {
            width: 100%;
            height: 1px;
            background: #adb5bd;
            border-radius: 2px;
            margin-bottom: 15px;
        }

        .data {
            text-align: center;
            font-size: 20px;
            overflow: auto;

            b {
                font-size: 25px;
            }

            span {
                padding-left: 10px;
                font-size: 22px;
            }
        }
    }
}

.error, .required {
    color: rgb(240, 99, 99);
}